:root {
    --dark: rgb(31 36 33);
    --teal: rgb(33 104 105);
    --green: rgb(73 160 120);
    --light: rgb(156 197 161);
    --offwhite: rgb(220 225 222);
    --heading: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: var(--offwhite);
    margin: 0px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
    background-color: var(--teal);
    padding: 24px;
}

h1 {
    color: var(--offwhite);
    font-size: 40px;
    font-family: var(--heading);
}

h2 {
    color: var(--teal);
    font-size: 32px;
    font-family: var(--heading);
    text-align: center;
    margin: 4%;
}

h3 {
    color: var(--teal);
    font-size: 20px;
    font-family: var(--heading);
    margin: 2%;
}

nav {
    display: flex;
    justify-content: flex-end;
    background-color: var(--green);
    padding: 4px;
}

nav a {
    color: var(--offwhite);
    font-weight: bold;
    padding: 14px 20px;
    text-decoration: none;
}

nav a:visited {
    color: var(--offwhite)
}

main {
    display: flex;
    flex-wrap: wrap;
}

aside {
    flex: 1;
    padding: 16px;
    margin-top: 16px;
    margin-bottom: 16px;
    border-right: 4px solid var(--green);
    text-align: center;
}

aside img {
    height: 200px;
    border-radius: 8px;
}

aside section  {
    margin-bottom: 40px;
}

aside section p {
    text-align: left;
    color: var(--dark);
    font-size: 16px;
    margin: 8px;
}

aside section a {
    margin: 16px;
    color: var(--dark);
    font-size: 20px;
}

aside section a:visited {
    color: var(--dark);
}

article {
    flex: 3;
    margin-left: 28px;
    text-align: center;
}

#my-work {
    font-size: 40px;
}

article div {
    display: inline-block;
    margin: 0 4px 36px 4px;
}

.project {
    width: 300px;
    height: 200px;
    border-radius: 8px;
}

/* Added movement to images when user hovers over */
.project:hover {
    transform: translate(-4px, -4px) scale(1.1,1.1);
    box-shadow: 8px 8px 8px var(--teal);
}

#featured {
    width: 600px;
    height: 200px;
    border-radius: 8px;
}

@media screen and (max-width: 920px){
    main{
        flex-direction: column;
    }
    aside {
        border-right: 4px solid var(--offwhite);
        margin-left: 0px;
    }
    aside section p {
        margin-left: 36px;
        margin-right: 36px;
    }
    article {
        transform: translate(-16px, 0);
    }
    #my-work {
        font-size: 32px;
    }
}

@media screen and (max-width: 660px){
    #featured {
        width: 300px;
    }
}