:root {
    --dark: rgb(31 36 33);
    --teal: rgb(33 104 105);
    --green: rgb(73 160 120);
    --light: rgb(156 197 161);
    --offwhite: rgb(220 225 222);
    --heading: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: var(--offwhite);
    margin: 0px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Header */
header {
    background: linear-gradient(var(--teal), var(--green));
    padding: 24px;
}

nav {
    display: flex;
    justify-content: flex-end;
    background-color: var(--green);
    padding: 4px;
}

nav a {
    color: var(--offwhite);
    font-weight: bold;
    padding: 14px 20px;
    text-decoration: none;
}

nav a:visited {
    color: var(--offwhite)
}

/* Headings */
h1 {
    color: var(--offwhite);
    font-size: 40px;
    font-family: var(--heading);
}

h2 {
    color: var(--teal);
    font-size: 32px;
    font-family: var(--heading);
    text-align: center;
    margin: 4%;
}

h3 {
    color: var(--teal);
    font-size: 20px;
    font-family: var(--heading);
    margin: 4%;
}

/* Main content */
main {
    display: flex;
    flex-wrap: wrap;
}

/* About Me and Contact Me */
aside {
    flex: 1;
    padding: 16px;
    margin-top: 16px;
    margin-bottom: 16px;
    border-right: 4px solid var(--green);
    text-align: center;
}

aside img {
    height: 200px;
    border-radius: 8px;
}

aside section  {
    margin-bottom: 40px;
}

aside section p {
    text-align: left;
    color: var(--dark);
    font-size: 16px;
    margin: 8px;
}

aside section a {
    margin: 16px;
    color: var(--dark);
    font-size: 20px;
}

aside section a:visited {
    color: var(--dark);
}

/* My Work */
article {
    flex: 3;
    margin-left: 28px;
    text-align: center;
}

#my-work {
    font-size: 40px;
}

article div {
    display: inline-block;
    margin: 0 4px 36px 4px;
}

.project {
    width: 375px;
    height: 210px;
    border-radius: 8px;
}

/* Images are made slightly bigger and a shadow is added */
.project:hover {
    transform: translate(-4px, -4px) scale(1.2,1.2);
    box-shadow: 8px 8px 8px var(--teal);
}

/* Modal Styling Reference: https://www.w3schools.com/howto/howto_css_modals.asp */
#modal {
    display: none; 
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    /* TODO: How to disable scroll of the rest of the page while looking at the modal */
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

#modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 30px;
    border: 1px solid var(--light);
    width: 80%; /* Could be more or less, depending on screen size */
    display: flex;
    flex-direction: column;
}

#modal-content p {
    padding-bottom: 16px;
    padding-top: 8px;
    line-height: 1.5em;
}

#modal-content li {
    padding-bottom: 8px;
    line-height: 1.5em;
    list-style-type: circle;
    margin-left: 2rem;
}

#modal-content button {
    padding: 10px 12px;
    margin: 10px;
    border: none;
    background-color: var(--green);
    border-radius: 4px;
    align-items: center;
}

#ghBtn, #deployBtn {
    color: #fefefe;
    text-decoration: none;
}
/* TODO: Create hover styling for buttons */
/* TODO: Create Styling for close button, Top right */
#close {
    text-align: center;
    font-size: 25px;
    background-color: var(--teal);
    color:#fefefe;
    padding: 5px;
}

/* When the screen's width reaches 920 or lower, the content shifts vertically
 Some aesthetic and alignment adjustments are made. */
@media screen and (max-width: 920px){
    main{
        flex-direction: column;
    }
    aside {
        border-right: 4px solid var(--offwhite);
        margin-left: 0px;
    }
    aside section p {
        margin-left: 36px;
        margin-right: 36px;
    }
    article {
        transform: translate(-16px, 0);
    }
    #my-work {
        font-size: 32px;
    }
}