:root {
    --dark: rgb(31 36 33);
    --teal: rgb(33 104 105);
    --green: rgb(73 160 120);
    --light: rgb(156 197 161);
    --offwhite: rgb(220 225 222);
    --heading: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: var(--offwhite);
    margin: 0px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
    background-color: var(--teal);
    padding: 24px;
}

h1 {
    color: var(--offwhite);
    font-size: 40px;
    font-family: var(--heading);
}

h2 {
    color: var(--teal);
    font-size: 32px;
    font-family: var(--heading);
    text-align: center;
    margin: 4%;
}

h3 {
    color: var(--teal);
    font-size: 20px;
    font-family: var(--heading);
    margin: 4%;
}

nav {
    display: flex;
    justify-content: flex-end;
    background-color: var(--green);
    padding: 4px;
}

nav a {
    color: var(--offwhite);
    padding: 14px 20px;
    text-decoration: none;
}

nav a:visited {
    color: var(--offwhite)
}

/* Added border radius */
img {
    height: 200px;
    border-radius: 8px;
}

aside {
    display: flex;
    flex-wrap: wrap;
    width: 33.33%;
    padding: 16px;
    border-right: 4px solid var(--green);
    text-align: center;
}

aside section  {
    margin: 16px;
}

aside section p {
    text-align: left;
    color: var(--dark);
    font-size: 16px;
    margin: 8px;
}

aside section:nth-child(2) {
    width: 100%;
}

/* Increased font-size and margin */
aside section a {
    margin: 16px;
    color: var(--dark);
    font-size: 20px;
}